{% extends 'layout.twig'%}

{% block body %}



    <div class="w-screen fixed h-full pt-64 homeimage">
        <div class="w-full flex justify-center">
            <div class="">
                <p class="text-6xl text-center">Union ShowTechs</p>
                <p class="text-2xl text-center">We make things loud and bright</p>
            </div>
        </div>
    </div>


{% endblock %}
