{% extends 'layout.twig'%}

{% block body %}

    <div class="m-auto sm:p-4 flex justify-center">
        <div class="w-full max-w-screen-xl mr-12" id="request_main_section">
            <h1 class="text-3xl mb-12 p-5">Request show</h1>

            <form>
                {% include 'snip/request_questions.twig' %}
            </form>

        </div>

    </div>
    <button type="button" class="m-auto p-2 bg-green-400 block rounded-lg" onclick="submit()">Submit</button>

{% endblock %}
{% block script %}
    <script>
        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
        function submit() {
            let res = {}
            $("input:not(input[type='checkbox'],input[type='radio'])").each(function() {
                res[$(this).attr("name")] = $(this).val();
            })
            $("input[type='checkbox']:checked,input[type='radio']:checked").each(function () {
                res[$(this).attr("name")] = $(this).attr("value");
                console.log($(this).attr("value"))
            });
            $("span.input").each(function() {
                res[$(this).attr("name")] = $(this).text();
            })
            console.log(res);
            $.post("/submit_request",res,function(data){
                console.log(data);
            })
            console.log(res);
        }
    </script>
{% endblock %}
