.content-box {
    width: 90vw;
    overflow-x: auto;
    margin: 30px auto;
    border: 2px black solid;
    border-radius: 15px;
    padding: 00px;
    position: relative;
}
.pdf-container {
    /*height: 70vh;*/
    width: 100%;
}
.edit_mod,.delete_mod {
    float: right;
    margin: 0 15px 15px 15px;
}
.ql-editor .content {
    white-space: normal;
}
#add_mod_button, .button_center {
    text-align: center;
    margin: 0 auto 15px auto;
}
.center {
    text-align: center;
}
/*input:not(.submit_form) {*/
/*    width: 30%;*/
/*    border-bottom: blue 1px solid;*/
/*    border-top: none;*/
/*    border-right :none;*/
/*    border-left: none;*/
/*}*/

.admin_page {

}
/*#login_page div .modal-content {*/
/*    padding: 5px;*/
/*}*/

.hidden {
    display: none;
}